pkgbase = expressvpn
	pkgdesc = Proprietary VPN client for Linux
	pkgver = 5.0.1.11498
	pkgrel = 1
	url = https://expressvpn.com
	install = expressvpn.install
	arch = x86_64
	license = LicenseRef-custom
	depends = libxkbcommon
	depends = libnl
	depends = iptables
	depends = psmisc
	depends = gcc-libs
	depends = brotli
	depends = iproute2
	depends = ca-certificates
	depends = mesa
	options = !strip
	source = https://www.expressvpn.works/clients/linux/expressvpn-linux-universal-5.0.1.11498.run
	sha512sums = 0ae5956bdd459478e3809c6cf11fcd2b2228f7a819d983a76a892d01a5b0236e7cdce2f61c558d06b559d2e310e837eba92909d88c1421a413eec9cd74590ca5

pkgname = expressvpn
